/* Colors
Primary
    Red: hsl(0, 78%, 62%)
    Cyan: hsl(180, 62%, 55%)
    Orange: hsl(34, 97%, 64%)
    Blue: hsl(212, 86%, 64%)
Neutral
    Very Dark Blue: hsl(234, 12%, 34%)
    Grayish Blue: hsl(229, 6%, 66%)
    Very Light Gray: hsl(0, 0%, 98%) 
*/

/* Layout
Mobile: 375px
Desktop: 1440px 
*/

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* -> 1rem = 10px */
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  background-color: #fafafa;
  color: #a3a5ae;
  padding: 0 1.7rem;
}

/* HEADER content */
.header {
  height: 27rem;
  position: relative;
}

.heading-wrapper {
  width: 50rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  font-size: 3.7rem;
  color: #4c4e61;
  margin-bottom: 1.3rem;
}

.heading-primary--light {
  display: block;
  font-weight: 200;
}

.heading-primary--heavy {
  display: block;
  font-weight: 600;
}

.heading-paragraph {
  font-size: 1.5rem;
}

/*  || MAIN content */
/* .main {} */

.row {
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1.5rem;
}

/* CARD */
.card {
  position: relative;
  background-color: #fafafa;
  margin: 1.5rem auto;
  height: 24rem;
  padding: 3rem;
  border-radius: 0.4rem;
  box-shadow: 0 1rem 2rem #4c4e6133;
}

.card__header {
  font-size: 2rem;
  color: hsl(234, 12%, 34%);
  margin-bottom: 1rem;
}

.card__text {
  font-size: 1.3rem;
}

.card__icon-box {
  position: absolute;
  right: 2.5rem;
  bottom: 2.5rem;
  height: 6rem;
  width: 6rem;
}

.card__icon {
  width: 100%;
}

/* CARD modifiers */
.card--supervisor {
  border-top: 3px solid hsl(180, 62%, 55%);
}
.card--team-builder {
  border-top: 3px solid hsl(0, 78%, 62%);
}
.card--karma {
  border-top: 3px solid hsl(34, 97%, 64%);
}
.card--calculator {
  border-top: 3px solid hsl(212, 86%, 64%);
}

/* || FOOTER content */
.footer {
  margin-top: 2rem;
}

.footer__attribution {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  font-size: 1.1rem;
  text-align: center;
  padding: 2rem;
}

.footer__link {
  color: hsl(228, 45%, 44%);
}

/* || MEDIA  */
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 56.25%; /* 1rem = 9px */
  } 

  .heading-primary {
    font-size: 3rem; 
  }
}

@media only screen and (max-width: 52.5em) { 
  .heading-wrapper {
    max-width: 50rem;
    width: 100%;
    text-align: center;
  }

  .heading-paragraph {
    font-size: 1.8rem;
  }

  .card {
    margin: 3rem auto;
    height: 30rem;
    padding: 4rem;
  }

  .card__header {
    font-size: 3rem;
  }

  .card__text {
    font-size: 2rem;
  }

  .card__icon-box {
    right: 3rem;
    bottom: 3rem;
    height: 7rem;
    width: 7rem;
  }

  .row {
      flex-direction: column;
      max-width: 48rem;
  }
}

@media only screen and (max-width: 26.875em) {
  
  .card {
    margin: 1.5rem auto;
    height: 25rem;
    padding: 3rem;
  }

  .card__text {
    font-size: 1.5rem;
  }

  .card__header {
    font-size: 2.4rem;
  }

  .card__icon-box {
    height: 6rem;
    width: 6rem;
  }
}

@media only screen and (max-width: 20em) {
  .heading-primary {
    font-size: 2.5rem;
  }
  
  .heading-paragraph {
    font-size: 1.5rem;
  }

}